body {
    /* disable text selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

body {
    text-align: center;
    background-color: #23344b;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

#rules {
    font-family: 'Roboto', sans-serif;
    background-color: #9b4646;
    font-size: 18px;
    line-height: 30px;
    color: #cdcdcd;
    width: 30%;
    height: 60vh;
    display: table;
    position: absolute;
    border-radius: 10px;
    margin: 0 0 0 0;
    padding: 40px 20px 20px 20px;
    z-index: 1;
    visibility: hidden;
}

.tip {
    font-size: 18px;
}

.rulesText {
    display: table-row;
    vertical-align: center;
    text-align: center;
}

table.center {
    margin: auto;
}

#solutionDisplay {
    visibility: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 14px;
}

.playerButtons {
    margin-top: 5%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.playerInput {
    margin: 15% 10% 5% 20%;
    border: rgb(111, 141, 175);
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
}

.separator {
    margin-bottom: 40px;
    color: lightsteelblue;
    font-weight: bold;
}

.table {
    margin-right: 30%;
    margin-top: 10%;
}

.divTable {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    width: 420px;
    border-radius: 10px;
    border-spacing: 10px;
    background-color: #afafaf;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divTableCell, .divTableHead {
    border: none;
    display: table-cell;
    padding: 5px;
    height: 50px;
    border-radius: 30px;
    background-color: #8c8c8c;
}

.celltext {
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    color: #23344b;
    font-size: 15px;
    font-weight: bold;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}

.button, .buttonGuess {
    border: none;
    padding: 15px 15px;
    display: inline-block;
    margin: 20px 10px;
    border-radius: 25px;
    height: 50px;
    width: 50px;
}

button:focus {
    outline:0 !important;
}

.button:hover, .buttonGuess:hover, .guess:hover, .restart:hover, #rulesButton:hover{
    transform: scale(1.1);
    transition-duration: 200ms;
}

.guess, .restart, #rulesButton {
    width: 25vh;
    margin: 10px 0 10px 0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.guess {
    background-color: rgb(99, 125, 155);
    border-radius: 10px;
}

.restart {
    background-color: rgb(195, 115, 115);
    border-radius: 10px;
}

#rulesButton {
    background-color: #132b37;
    border-radius: 10px;
    display: table-cell;
    padding: 5px 1px 5px 1px;
}

.buttonRed {background-color: rgb(255, 80, 80);}
.buttonBlue {background-color: rgb(78, 89, 207);}
.buttonYellow {background-color: rgb(243, 243, 102);}
.buttonGreen {background-color: rgb(50,125,63);}
.buttonWhite {background-color: rgb(255, 255, 255);}
.buttonPurple {background-color: rgb(150, 52, 150);}

#color1 {background-color: white;}
#color2 {background-color: white;}
#color3 {background-color: white;}
#color4 {background-color: white;}

@media only screen and (max-width: 1000px) {
    .button, .buttonGuess {
        padding: 15px 15px;
        margin: 5px 5px;
        height: 40px;
        width: 40px;
    }

    .divTable {
        width: 350px;
    }

    .divTableCell, .divTableHead {
        height: 35px;
    }

    #rules {
        width: 70vh;
    }
}

@media only screen and (max-width: 750px) {
    body {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .playerInput {
        margin: 5% 5% 5% 5%;
        border: rgb(111, 141, 175);
    }

    .table {
        margin-right: 0;
        margin-top: 0;
    }

    #rules {
        width: 80%;
        height: 55vh;
        display: table;
        position: absolute;
        border-radius: 10px;
        margin: 0 auto;
        padding: 40px 20px 20px 20px;
        z-index: 1;
        visibility: hidden;
    }

    .playerButtons {
        width: 100%;
        margin: 0 auto;
        display: inline-block;
    }

    .guess {
        margin: 30px 5px 0 5px;
    }

    .restart {
        margin: 30px 5px 0 5px;
    }
}