::selection {
    color: unset;
    background: none;
}

/* For Mozilla Firefox */
::-moz-selection {
    color: unset;
    background: none;
}

body {
    background-color: #12a584;
    display: grid;
    grid-auto-columns: 1fr 3fr;
}

.divTable {
    display: table;
    width: 100vh;
    margin-left: 45%;
    margin-top: 5%;
    position: fixed;
}

.divTableBody {
    display: table-row-group;
}

.divTableRow {
    display: table-row;
}

.divTableCell, .divTableHead {
    border-radius: 2px;
    background-color: #afafaf;
    padding: 3px 10px;
    margin: 2px;
    width: 4vh;
    height: 4vh;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    font-size: 0;
    font-family: 'Roboto', sans-serif;
}

.playerButtons {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 40px 60px 0 60px;
    align-items: normal;
}

button {
    display: inline-block;
}

.titleAndOther {
    margin: 15vh 120vh 5vh 13vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
    height: auto;
    border-radius: 5px;
}

#title {
    text-align: center;
    font-size: 30px;
}

#timers {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    font-size: 20px;
    text-align: center;
}

#pins {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    font-size: 20px;
    text-align: center;
    margin: 50px 0 50px 0;
}

#playAgain, #rulesButton {
    color: lightgrey;
    border: none;
    justify-content: center;
    border-radius: 10px;
    width: 20vh;
    margin: 10px 0 10px 0;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#playAgain {
    background-color: #872514;
}

#rulesButton {
    background-color: #136e4e;
}

#rules {
    font-family: 'Roboto', sans-serif;
    background-color: #afafaf;
    font-size: 14px;
    color: #191919;
    width: 60vh;
    height: 30vh;
    line-height: 30px;
    display: table;
    position: absolute;
    border-radius: 10px;
    margin: 0;
    padding: 20px 30px 20px 30px;
    z-index: 1;
    visibility: hidden;
}

.rulesText {
    display: table-row;
    vertical-align: center;
    text-align: center;
    margin-bottom: 40px;
}

.space {
    height: 20px;
}

button:hover{
    transform: scale(1.1);
    transition-duration: 200ms;
}

button:focus {
    outline:0 !important;
}