body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

#title {
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}

#additionalinfo {
  margin-top: -25px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#spinningbutton {
  font-weight: bolder;
  background-color: #4CAF50;
  border: none;
  border-radius: 5%;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#submitbutton {
  background-color: #be4b4b;
  font-weight: bold;
  border: none;
  border-radius: 5%;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#game_options {
  font: Helvetica, Arial;
  font-size: 12px;
  border: 2px solid black;
}