body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

#title {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 20px;
    text-align: center;
  }

canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#spinningbutton {
    background-color: #4CAF50;
    border: none;
    border-radius: 5%;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }